node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example


# Android & Keystore files
*.keystore
*.jks
local.properties
keystore.properties
key.properties
!keystore.properties.example
*.apk
*.aab
*.dm
